In [16]:
import csv
import pandas as pd
from pandas import *

In [17]:
sp500 = read_csv('sp500.csv', delimiter=',', header=0)
options = read_csv('options.csv', delimiter=',', header=0)

In [18]:
sp500.rename(columns={'Unnamed: 0':'nrow'}, inplace=True)
options.rename(columns={'Unnamed: 0':'nrow'}, inplace=True)

In [19]:
sp500.head(5)

,nrow,date,open,high,low,vol,close
0,0,2015-06-01 00:00:00,2108.63989,2121.91992,2085.66992,3120956000,2092.83008
1,1,2015-05-26 00:00:00,2125.34009,2126.21997,2099.17993,3344457500,2107.38989
2,2,2015-05-18 00:00:00,2121.30005,2134.71997,2120.01001,2970484000,2126.06006
3,3,2015-05-11 00:00:00,2115.56006,2123.88989,2085.57007,2536950000,2122.72998
4,4,2015-05-04 00:00:00,2110.22998,2120.94995,2067.92993,3550764000,2116.10010

In [20]:
options.head(5)

,nrow,date,exp,strike,pc,oi,vol,high,low,open,last
0,0,1990-01-05 00:00:00,1990-12-22 00:00:00,250,C,320,0,0,0,0,0
1,1,1990-01-05 00:00:00,1990-12-22 00:00:00,250,P,4045,0,0,0,0,0
2,2,1990-01-05 00:00:00,1990-12-22 00:00:00,275,C,3,0,0,0,0,0
3,3,1990-01-05 00:00:00,1990-12-22 00:00:00,275,P,400,0,0,0,0,0
4,4,1990-01-05 00:00:00,1990-12-22 00:00:00,300,C,0,0,0,0,0,0

In [21]:
rolling_mean(sp500.close, window = 288, min_periods=1, center=False)

0     2092.830080
1     2100.109985
2     2108.760010
3     2112.252502
4     2113.022022
5     2112.233358
6     2113.012870
7     2109.033752
8     2108.258898
9     2104.129004
10    2100.210005
11    2100.867513
12    2097.216158
13    2095.362148
14    2095.971338
...
1520    304.684687
1521    304.154271
1522    303.660243
1523    303.130521
1524    302.604930
1525    302.056250
1526    301.493125
1527    300.900034
1528    300.294444
1529    299.700625
1530    299.091805
1531    298.464201
1532    297.865243
1533    297.246284
1534    296.658194
Length: 1535, dtype: float64

In [22]:
len(sp500)

1535

In [24]:
sum(sp500.close[0:11])/12

1925.192505