In [3]:
import csv
from pandas import *

In [4]:
sp500 = read_csv('sp500_1988_2015.csv', delimiter=',', header=0)

In [6]:
sp500.head(5)

,Date,Open,High,Low,Close,Volume,Adj Close
0,2015-05-29,2120.65991,2120.65991,2104.88989,2107.38989,3927390000,2107.38989
1,2015-05-28,2122.27002,2122.27002,2112.86011,2120.79004,2980350000,2120.79004
2,2015-05-27,2105.12988,2126.21997,2105.12988,2123.47998,3127960000,2123.47998
3,2015-05-26,2125.34009,2125.34009,2099.17993,2104.19995,3342130000,2104.19995
4,2015-05-22,2130.36011,2132.14990,2126.06006,2126.06006,2571860000,2126.06006