In [16]:
import csv
from pandas import *

In [17]:
sp500 = read_csv('sp500_1974_2015.csv', delimiter=',', header=0, usecols=[0,1,2,3,5,6], 
                 names=['date','open','high','low','vol','close'])

In [18]:
sp500.head(5)

         date        open        high         low         vol       close
0  2015-06-03  2110.63989  2121.91992  2109.61011  3099980000  2114.07007
1  2015-06-02  2110.40991  2117.59009  2099.13989  3049350000  2109.60010
2  2015-06-01  2108.63989  2119.14990  2102.54004  3011710000  2111.72998
3  2015-05-29  2120.65991  2120.65991  2104.88989  3927390000  2107.38989
4  2015-05-28  2122.27002  2122.27002  2112.86011  2980350000  2120.79004

In [19]:
sp500.tail(5)

             date   open    high    low       vol  close
10445  1974-01-08  98.07   98.26  95.58  18080000  96.12
10446  1974-01-07  98.90   99.31  96.86  19070000  98.07
10447  1974-01-04  99.80  100.70  97.70  21700000  98.90
10448  1974-01-03  98.02  100.94  98.02  24850000  99.80
10449  1974-01-02  97.55   98.38  96.25  12060000  97.68

In [37]:
d = to_datetime(sp500['date'][3])

In [38]:
d.weekday()

4

In [59]:
spx_all = read_csv('/Users/marcolunardi/Documents/Doc/spx_options_1990_2015.csv', delimiter=',', header=0, usecols=[0,2,3,4,5,6,7,8,9,10,11,14,15], 
               names=['date','cl','exp','strike','pc','oi','vol','high','low','open','last','spc','ty'])

In [60]:
spx_all.head(5)

,date,cl,exp,strike,pc,oi,vol,high,low,open,last,spc,ty
0,19900102,NSX,19900317,330,C,0,0,0,0,0,0,359.69,Standard
1,19900102,NSX,19900317,335,C,0,0,0,0,0,0,359.69,Standard
2,19900102,NSX,19900317,340,C,3007,0,0,0,0,0,359.69,Standard
3,19900102,NSX,19900317,345,C,410,0,0,0,0,0,359.69,Standard
4,19900102,NSX,19900317,350,C,300,0,0,0,0,0,359.69,Standard

In [61]:
spx_all.tail(5)

,date,cl,exp,strike,pc,oi,vol,high,low,open,last,spc,ty
7771980,20150601,SPXW,20160331,2300,P,0,0,0,0,0,0,2111.73,LEAP
7771981,20150601,SPXW,20160331,2400,P,0,0,0,0,0,0,2111.73,LEAP
7771982,20150601,SPXW,20160331,2500,P,0,0,0,0,0,0,2111.73,LEAP
7771983,20150601,SPXW,20160331,2600,P,0,0,0,0,0,0,2111.73,LEAP
7771984,20150601,SPXW,20160331,2700,P,0,0,0,0,0,0,2111.73,LEAP

In [62]:
d = to_datetime(str(spx_all.exp[3]))

In [63]:
d

Timestamp('1990-03-17 00:00:00')

In [64]:
spxt = spx_all[spx_all.ty == 'Standard']

In [65]:
len(spxt)

4722723

In [82]:
spxtc = spxt[spxt.cl == 'SPX']

In [86]:
len(spxtc)

2406884

In [84]:
for i in range(len(spxtc.exp)):
    spxtc.exp[i] = to_datetime(str(spxtc.exp[i]))

KeyError: 0

In [88]:
spxtc.exp[87]

19900120

In [44]:
spx.head(10)

,date,class,exp,strike,pc,oi,vol,high,low,open,last,spc,type
0,20140303,SPX,0 20140322\n1 20140322\n2 20140322...,150,C,1425,0,0,0,0,0,1845.73,Standard
1,20140303,SPX,0 20140322\n1 20140322\n2 20140322...,200,C,1712,0,0,0,0,0,1845.73,Standard
2,20140303,SPX,0 20140322\n1 20140322\n2 20140322...,250,C,0,0,0,0,0,0,1845.73,Standard
3,20140303,SPX,0 20140322\n1 20140322\n2 20140322...,300,C,0,0,0,0,0,0,1845.73,Standard
4,20140303,SPX,0 20140322\n1 20140322\n2 20140322...,350,C,1425,0,0,0,0,0,1845.73,Standard
5,20140303,SPX,0 20140322\n1 20140322\n2 20140322...,400,C,1695,0,0,0,0,0,1845.73,Standard
6,20140303,SPX,0 20140322\n1 20140322\n2 20140322...,450,C,0,0,0,0,0,0,1845.73,Standard
7,20140303,SPX,0 20140322\n1 20140322\n2 20140322...,500,C,2372,0,0,0,0,0,1845.73,Standard
8,20140303,SPX,0 20140322\n1 20140322\n2 20140322...,550,C,0,0,0,0,0,0,1845.73,Standard
9,20140303,SPX,0 20140322\n1 20140322\n2 20140322...,600,C,0,0,0,0,0,0,1845.73,Standard