In [37]:
import csv
from pandas import *

In [38]:
spx_all = read_csv('spx_options_1990_2015.csv', delimiter=',', header=0, usecols=[0,2,3,4,5,6,7,8,9,10,11,14,15], 
               names=['date','cl','exp','strike','pc','oi','vol','high','low','open','last','spc','ty'])

In [39]:
len(spx_all)

7771985

In [40]:
spx_all.head(5)

,date,cl,exp,strike,pc,oi,vol,high,low,open,last,spc,ty
0,19900102,NSX,19900317,330,C,0,0,0,0,0,0,359.69,Standard
1,19900102,NSX,19900317,335,C,0,0,0,0,0,0,359.69,Standard
2,19900102,NSX,19900317,340,C,3007,0,0,0,0,0,359.69,Standard
3,19900102,NSX,19900317,345,C,410,0,0,0,0,0,359.69,Standard
4,19900102,NSX,19900317,350,C,300,0,0,0,0,0,359.69,Standard

In [41]:
spx_all.tail(5)

,date,cl,exp,strike,pc,oi,vol,high,low,open,last,spc,ty
7771980,20150601,SPXW,20160331,2300,P,0,0,0,0,0,0,2111.73,LEAP
7771981,20150601,SPXW,20160331,2400,P,0,0,0,0,0,0,2111.73,LEAP
7771982,20150601,SPXW,20160331,2500,P,0,0,0,0,0,0,2111.73,LEAP
7771983,20150601,SPXW,20160331,2600,P,0,0,0,0,0,0,2111.73,LEAP
7771984,20150601,SPXW,20160331,2700,P,0,0,0,0,0,0,2111.73,LEAP

In [42]:
spx = spx_all[spx_all.ty == 'Standard']

In [43]:
len(spx)

4722723

In [44]:
spx = spx[spx.cl == 'SPX']

In [45]:
len(spx)

2406884

In [46]:
spx.exp = to_datetime(str(spx.exp))

In [47]:
spx.head(5)

,date,cl,exp,strike,pc,oi,vol,high,low,open,last,spc,ty
86,19900102,SPX,86 19900120\n87 19900120\n88 19900...,320,C,1088,0,0.000,0.0,0.00,0.000,359.69,Standard
87,19900102,SPX,86 19900120\n87 19900120\n88 19900...,325,C,1252,0,0.000,0.0,0.00,0.000,359.69,Standard
88,19900102,SPX,86 19900120\n87 19900120\n88 19900...,330,C,8738,25,30.500,30.5,30.50,30.500,359.69,Standard
89,19900102,SPX,86 19900120\n87 19900120\n88 19900...,335,C,580,0,0.000,0.0,0.00,0.000,359.69,Standard
90,19900102,SPX,86 19900120\n87 19900120\n88 19900...,340,C,2480,27,17.625,17.0,17.25,17.625,359.69,Standard

In [48]:
spx.tail(5)

,date,cl,exp,strike,pc,oi,vol,high,low,open,last,spc,ty
7766562,20150601,SPX,86 19900120\n87 19900120\n88 19900...,2600,P,0,0,0,0,0,0,2111.73,Standard
7766563,20150601,SPX,86 19900120\n87 19900120\n88 19900...,2700,P,0,0,0,0,0,0,2111.73,Standard
7766564,20150601,SPX,86 19900120\n87 19900120\n88 19900...,2800,P,2,0,0,0,0,0,2111.73,Standard
7766565,20150601,SPX,86 19900120\n87 19900120\n88 19900...,2900,P,12,0,0,0,0,0,2111.73,Standard
7766566,20150601,SPX,86 19900120\n87 19900120\n88 19900...,3000,P,12,0,0,0,0,0,2111.73,Standard

In [49]:
spx['exp'][0]

KeyError: 0