In [1]:
import csv
import pandas as pd
from pandas import *

## Loading S&P 500 Weekly Data

In [2]:
spd = read_csv('sp500d_19740101_20150605.csv', delimiter=',', header=0, 
               names=['date','o','h','l','close','vol','c'])

In [3]:
spw = read_csv('sp500w_19740101_20150605.csv', delimiter=',', header=0, 
               names=['date','o','h','l','close','vol','c'])

In [4]:
len(spd)

10452

In [5]:
len(spw)

2162

In [6]:
spd.head(3)

,date,o,h,l,close,vol,c
0,2015-06-05,2095.09009,2100.98999,2085.66992,2092.83008,3243690000,2092.83008
1,2015-06-04,2112.35010,2112.88989,2093.22998,2095.84009,3200050000,2095.84009
2,2015-06-03,2110.63989,2121.91992,2109.61011,2114.07007,3099980000,2114.07007

In [7]:
spd.tail(3)

             date      o       h      l  close       vol      c
10449  1974-01-04  99.80  100.70  97.70  98.90  21700000  98.90
10450  1974-01-03  98.02  100.94  98.02  99.80  24850000  99.80
10451  1974-01-02  97.55   98.38  96.25  97.68  12060000  97.68

In [8]:
spw.head(3)

,date,o,h,l,close,vol,c
0,2015-06-01,2108.63989,2121.91992,2085.66992,2092.83008,3120956000,2092.83008
1,2015-05-26,2125.34009,2126.21997,2099.17993,2107.38989,3344457500,2107.38989
2,2015-05-18,2121.30005,2134.71997,2120.01001,2126.06006,2970484000,2126.06006

In [9]:
spw.tail(3)

            date      o       h      l  close       vol      c
2159  1974-01-14  93.66   98.35  92.35  95.56  16060000  95.56
2160  1974-01-07  98.90   99.31  91.62  93.66  17296000  93.66
2161  1974-01-02  97.55  100.94  96.25  98.90  19536600  98.90

In [10]:
type(spd.date[0]), type (spw.date[0])

(str, str)

In [11]:
spd['date'] = pd.to_datetime(spd['date'])
spw['date'] = pd.to_datetime(spw['date'])

In [12]:
type(spd.date[0]), type (spw.date[0])

(pandas.tslib.Timestamp, pandas.tslib.Timestamp)

## Loading Daily Options Data

In [13]:
spx_all = read_csv('/Users/marcolunardi/Documents/Doc/spx_options_1990_2015.csv', delimiter=',', header=0, 
                   usecols=[0,2,3,4,5,6,7,8,9,10,11,14,15], 
                   names=['date','cl','exp','strike','pc','oi','vol','h','l','o','c','sp','ty'])

In [14]:
spx_all.head(5)

       date   cl       exp  strike pc    oi  vol  h  l  o  c      sp        ty
0  19900102  NSX  19900317     330  C     0    0  0  0  0  0  359.69  Standard
1  19900102  NSX  19900317     335  C     0    0  0  0  0  0  359.69  Standard
2  19900102  NSX  19900317     340  C  3007    0  0  0  0  0  359.69  Standard
3  19900102  NSX  19900317     345  C   410    0  0  0  0  0  359.69  Standard
4  19900102  NSX  19900317     350  C   300    0  0  0  0  0  359.69  Standard

In [15]:
spx_all.tail(5)

,date,cl,exp,strike,pc,oi,vol,h,l,o,c,sp,ty
7771980,20150601,SPXW,20160331,2300,P,0,0,0,0,0,0,2111.73,LEAP
7771981,20150601,SPXW,20160331,2400,P,0,0,0,0,0,0,2111.73,LEAP
7771982,20150601,SPXW,20160331,2500,P,0,0,0,0,0,0,2111.73,LEAP
7771983,20150601,SPXW,20160331,2600,P,0,0,0,0,0,0,2111.73,LEAP
7771984,20150601,SPXW,20160331,2700,P,0,0,0,0,0,0,2111.73,LEAP

In [16]:
spxt = spx_all[spx_all.ty == 'Standard']

In [17]:
len(spxt)

4722723

In [18]:
spxc = spxt[spxt.cl == 'SPX']

In [19]:
len(spxc)

2406884

In [20]:
spxc['date'] = spxc['date'].astype('string')
spxc['exp'] = spxc['exp'].astype('string')

/usr/local/lib/python2.7/site-packages/IPython/kernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/usr/local/lib/python2.7/site-packages/IPython/kernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from IPython.kernel.zmq import kernelapp as app

In [21]:
spxc['date'] = pd.to_datetime(spxc['date'])
spxc['exp'] = pd.to_datetime(spxc['exp'])

KeyboardInterrupt:

In [ ]:
spxc.head(5)

In [ ]:
spxc.tail(5)

In [ ]:
type(spxc.date[7766562])

In [ ]:
weekdays = []
for w in spxc['date']:
    weekdays.append(w.weekday())

In [ ]:
quarters = []
for q in spxc['exp']:
    if q.month % 3 == 0:
        quarters.append(1)
    else:
        quarters.append(0)

sum(quarters)

In [ ]:
spxc['weekdays'] = weekdays
spxc['quarters'] = quarters

In [ ]:
spxc.head(5)

In [ ]:
#spxw = spxc[spxc['weekdays'] == 4]
#spxq = spxw[spxw['quarters'] == 1]
spxq = spxc

In [ ]:
len(spxq)

In [ ]:
spxq.head(5)

In [ ]:
spxq.tail(5)

In [ ]:
spxr = spxq.drop(['cl', 'ty', 1)

In [ ]:
spxr.head(5)

In [ ]:
spx = spxr.reset_index(drop=True)

In [ ]:
spx.head(5)

In [ ]:
spx.tail(5)

In [ ]:
spd.to_csv('spd.csv')
spw.to_csv('spw.csv')
spx.to_csv('options.csv')