In [1]:
import csv
from pandas import *

In [2]:
sp500 = read_csv('sp500_1974_2015.csv', delimiter=',', header=0, usecols=[0,1,2,3,5,6], 
                 names=['date','open','high','low','vol','close'])

In [3]:
sp500.head(5)

,Date,Open,High,Low,Close,Volume,Adj Close
0,2015-06-03,2110.63989,2121.91992,2109.61011,2114.07007,3099980000,2114.07007
1,2015-06-02,2110.40991,2117.59009,2099.13989,2109.60010,3049350000,2109.60010
2,2015-06-01,2108.63989,2119.14990,2102.54004,2111.72998,3011710000,2111.72998
3,2015-05-29,2120.65991,2120.65991,2104.88989,2107.38989,3927390000,2107.38989
4,2015-05-28,2122.27002,2122.27002,2112.86011,2120.79004,2980350000,2120.79004

In [4]:
sp500.tail(5)

             Date   Open    High    Low  Close    Volume  Adj Close
10445  1974-01-08  98.07   98.26  95.58  96.12  18080000      96.12
10446  1974-01-07  98.90   99.31  96.86  98.07  19070000      98.07
10447  1974-01-04  99.80  100.70  97.70  98.90  21700000      98.90
10448  1974-01-03  98.02  100.94  98.02  99.80  24850000      99.80
10449  1974-01-02  97.55   98.38  96.25  97.68  12060000      97.68

In [7]:
spx = read_csv('spx_options_sample.csv', delimiter=',', header=0, usecols=[0,2,3,4,5,6,7,8,9,10,11,14,15], 
               names=['date','class','exp','strike','pc','oi','vol','high','low','open','last','spc','type'])

In [8]:
spx.head(5)

,TRADE_DT,CLS,EXPR_DT,STRK_PRC,PC,OIT,VOL,HIGH,LOW,OPEN,LAST,UNDL_PRC,S_TYPE
0,20140303,SPX,20140322,150,C,1425,0,0,0,0,0,1845.73,Standard
1,20140303,SPX,20140322,200,C,1712,0,0,0,0,0,1845.73,Standard
2,20140303,SPX,20140322,250,C,0,0,0,0,0,0,1845.73,Standard
3,20140303,SPX,20140322,300,C,0,0,0,0,0,0,1845.73,Standard
4,20140303,SPX,20140322,350,C,1425,0,0,0,0,0,1845.73,Standard

In [9]:
spx.tail(5)

,TRADE_DT,CLS,EXPR_DT,STRK_PRC,PC,OIT,VOL,HIGH,LOW,OPEN,LAST,UNDL_PRC,S_TYPE
19920,20140307,SPXQ,20140331,1995,P,0,0,0,0,0,0,1878.04,Quarterly
19921,20140307,SPXQ,20140331,2000,P,0,0,0,0,0,0,1878.04,Quarterly
19922,20140307,SPXQ,20140331,2005,P,0,0,0,0,0,0,1878.04,Quarterly
19923,20140307,SPXQ,20140331,2010,P,0,0,0,0,0,0,1878.04,Quarterly
19924,20140307,SPXQ,20140331,2025,P,0,0,0,0,0,0,1878.04,NaN

In [14]:
type(spx['date'][0])

numpy.int64

In [15]:
type(sp500['date'][0])

str