In [140]:
import csv
import pandas as pd
from pandas import *

## Loading S&P 500 Weekly Data

In [141]:
sp500 = read_csv('sp500w_1984_2015.csv', delimiter=',', header=0, usecols=[0,1,2,3,5,6], 
                 names=['date','open','high','low','vol','close'])

In [142]:
sp500.head(5)

         date        open        high         low         vol       close
0  2015-06-01  2108.63989  2121.91992  2085.66992  3120956000  2092.83008
1  2015-05-26  2125.34009  2126.21997  2099.17993  3344457500  2107.38989
2  2015-05-18  2121.30005  2134.71997  2120.01001  2970484000  2126.06006
3  2015-05-11  2115.56006  2123.88989  2085.57007  2536950000  2122.72998
4  2015-05-04  2110.22998  2120.94995  2067.92993  3550764000  2116.10010

In [143]:
sp500.tail(5)

            date       open       high        low        vol      close
1530  1986-01-27  206.42999  212.42000  206.42999  146240000  211.78000
1531  1986-01-20  208.42999  208.42999  202.60001  120808000  206.42999
1532  1986-01-13  205.96001  209.39999  205.52000  121520000  208.42999
1533  1986-01-06  210.88000  214.57001  204.50999  146442000  205.96001
1534  1986-01-02  211.28000  211.28000  208.92999  101980000  210.88000

In [144]:
type(sp500.date[0])

str

In [145]:
sp500['date'] = pd.to_datetime(sp500['date'])

In [146]:
sp500.head(5)

        date        open        high         low         vol       close
0 2015-06-01  2108.63989  2121.91992  2085.66992  3120956000  2092.83008
1 2015-05-26  2125.34009  2126.21997  2099.17993  3344457500  2107.38989
2 2015-05-18  2121.30005  2134.71997  2120.01001  2970484000  2126.06006
3 2015-05-11  2115.56006  2123.88989  2085.57007  2536950000  2122.72998
4 2015-05-04  2110.22998  2120.94995  2067.92993  3550764000  2116.10010

In [147]:
type(sp500.date[30])

pandas.tslib.Timestamp

## Loading Daily Options Data

In [148]:
spx_all = read_csv('/Users/marcolunardi/Documents/Doc/spx_options_1990_2015.csv', delimiter=',', header=0, usecols=[0,2,3,4,5,6,7,8,9,10,11,15], 
               names=['date','cl','exp','strike','pc','oi','vol','high','low','open','last','ty'])

In [149]:
spx_all.head(5)

,date,cl,exp,strike,pc,oi,vol,high,low,open,last,ty
0,19900102,NSX,19900317,330,C,0,0,0,0,0,0,Standard
1,19900102,NSX,19900317,335,C,0,0,0,0,0,0,Standard
2,19900102,NSX,19900317,340,C,3007,0,0,0,0,0,Standard
3,19900102,NSX,19900317,345,C,410,0,0,0,0,0,Standard
4,19900102,NSX,19900317,350,C,300,0,0,0,0,0,Standard

In [150]:
spx_all.tail(5)

,date,cl,exp,strike,pc,oi,vol,high,low,open,last,ty
7771980,20150601,SPXW,20160331,2300,P,0,0,0,0,0,0,LEAP
7771981,20150601,SPXW,20160331,2400,P,0,0,0,0,0,0,LEAP
7771982,20150601,SPXW,20160331,2500,P,0,0,0,0,0,0,LEAP
7771983,20150601,SPXW,20160331,2600,P,0,0,0,0,0,0,LEAP
7771984,20150601,SPXW,20160331,2700,P,0,0,0,0,0,0,LEAP

In [151]:
spxt = spx_all[spx_all.ty == 'Standard']

In [152]:
len(spxt)

4722723

In [153]:
spxc = spxt[spxt.cl == 'SPX']

In [154]:
len(spxc)

2406884

In [155]:
spxc['date'] = spxc['date'].astype('string')
spxc['exp'] = spxc['exp'].astype('string')

/usr/local/lib/python2.7/site-packages/IPython/kernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/usr/local/lib/python2.7/site-packages/IPython/kernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from IPython.kernel.zmq import kernelapp as app

In [156]:
spxc['date'] = pd.to_datetime(spxc['date'])
spxc['exp'] = pd.to_datetime(spxc['exp'])

/usr/local/lib/python2.7/site-packages/IPython/kernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/usr/local/lib/python2.7/site-packages/IPython/kernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from IPython.kernel.zmq import kernelapp as app

In [157]:
spxc.head(5)

,date,cl,exp,strike,pc,oi,vol,high,low,open,last,ty
86,1990-01-02,SPX,1990-01-20,320,C,1088,0,0.000,0.0,0.00,0.000,Standard
87,1990-01-02,SPX,1990-01-20,325,C,1252,0,0.000,0.0,0.00,0.000,Standard
88,1990-01-02,SPX,1990-01-20,330,C,8738,25,30.500,30.5,30.50,30.500,Standard
89,1990-01-02,SPX,1990-01-20,335,C,580,0,0.000,0.0,0.00,0.000,Standard
90,1990-01-02,SPX,1990-01-20,340,C,2480,27,17.625,17.0,17.25,17.625,Standard

In [158]:
spxc.tail(5)

,date,cl,exp,strike,pc,oi,vol,high,low,open,last,ty
7766562,2015-06-01,SPX,2016-03-18,2600,P,0,0,0,0,0,0,Standard
7766563,2015-06-01,SPX,2016-03-18,2700,P,0,0,0,0,0,0,Standard
7766564,2015-06-01,SPX,2016-03-18,2800,P,2,0,0,0,0,0,Standard
7766565,2015-06-01,SPX,2016-03-18,2900,P,12,0,0,0,0,0,Standard
7766566,2015-06-01,SPX,2016-03-18,3000,P,12,0,0,0,0,0,Standard

In [159]:
type(spxc.date[7766562])

pandas.tslib.Timestamp

In [160]:
weekdays = []
for w in spxc['date']:
    weekdays.append(w.weekday())

In [161]:
quarters = []
for q in spxc['exp']:
    if q.month % 3 == 0:
        quarters.append(1)
    else:
        quarters.append(0)

sum(quarters)

1238226

In [162]:
spxc['weekdays'] = weekdays
spxc['quarters'] = quarters

/usr/local/lib/python2.7/site-packages/IPython/kernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/usr/local/lib/python2.7/site-packages/IPython/kernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from IPython.kernel.zmq import kernelapp as app

In [163]:
spxc.head(5)

,date,cl,exp,strike,pc,oi,vol,high,low,open,last,ty,weekdays,quarters
86,1990-01-02,SPX,1990-01-20,320,C,1088,0,0.000,0.0,0.00,0.000,Standard,1,0
87,1990-01-02,SPX,1990-01-20,325,C,1252,0,0.000,0.0,0.00,0.000,Standard,1,0
88,1990-01-02,SPX,1990-01-20,330,C,8738,25,30.500,30.5,30.50,30.500,Standard,1,0
89,1990-01-02,SPX,1990-01-20,335,C,580,0,0.000,0.0,0.00,0.000,Standard,1,0
90,1990-01-02,SPX,1990-01-20,340,C,2480,27,17.625,17.0,17.25,17.625,Standard,1,0

In [164]:
spxw = spxc[spxc['weekdays'] == 4]
spxq = spxw[spxw['quarters'] == 1]

In [165]:
len(spxq)

246258

In [166]:
spxq.head(5)

,date,cl,exp,strike,pc,oi,vol,high,low,open,last,ty,weekdays,quarters
770,1990-01-05,SPX,1990-12-22,250,C,320,0,0,0,0,0,Standard,4,1
771,1990-01-05,SPX,1990-12-22,250,P,4045,0,0,0,0,0,Standard,4,1
772,1990-01-05,SPX,1990-12-22,275,C,3,0,0,0,0,0,Standard,4,1
773,1990-01-05,SPX,1990-12-22,275,P,400,0,0,0,0,0,Standard,4,1
774,1990-01-05,SPX,1990-12-22,300,C,0,0,0,0,0,0,Standard,4,1

In [167]:
spxq.tail(5)

,date,cl,exp,strike,pc,oi,vol,high,low,open,last,ty,weekdays,quarters
7758792,2015-05-29,SPX,2016-03-18,2600,P,0,0,0,0,0,0,Standard,4,1
7758793,2015-05-29,SPX,2016-03-18,2700,P,0,0,0,0,0,0,Standard,4,1
7758794,2015-05-29,SPX,2016-03-18,2800,P,2,0,0,0,0,0,Standard,4,1
7758795,2015-05-29,SPX,2016-03-18,2900,P,12,0,0,0,0,0,Standard,4,1
7758796,2015-05-29,SPX,2016-03-18,3000,P,12,0,0,0,0,0,Standard,4,1

In [168]:
spxr = spxq.drop(['cl', 'ty', 'weekdays', 'quarters'], 1)

In [169]:
spxr.head(5)

          date        exp  strike pc    oi  vol  high  low  open  last
770 1990-01-05 1990-12-22     250  C   320    0     0    0     0     0
771 1990-01-05 1990-12-22     250  P  4045    0     0    0     0     0
772 1990-01-05 1990-12-22     275  C     3    0     0    0     0     0
773 1990-01-05 1990-12-22     275  P   400    0     0    0     0     0
774 1990-01-05 1990-12-22     300  C     0    0     0    0     0     0

In [170]:
spx = spxr.reset_index(drop=True)

In [171]:
spx.head(5)

        date        exp  strike pc    oi  vol  high  low  open  last
0 1990-01-05 1990-12-22     250  C   320    0     0    0     0     0
1 1990-01-05 1990-12-22     250  P  4045    0     0    0     0     0
2 1990-01-05 1990-12-22     275  C     3    0     0    0     0     0
3 1990-01-05 1990-12-22     275  P   400    0     0    0     0     0
4 1990-01-05 1990-12-22     300  C     0    0     0    0     0     0

In [172]:
spx.tail(5)

             date        exp  strike pc  oi  vol  high  low  open  last
246253 2015-05-29 2016-03-18    2600  P   0    0     0    0     0     0
246254 2015-05-29 2016-03-18    2700  P   0    0     0    0     0     0
246255 2015-05-29 2016-03-18    2800  P   2    0     0    0     0     0
246256 2015-05-29 2016-03-18    2900  P  12    0     0    0     0     0
246257 2015-05-29 2016-03-18    3000  P  12    0     0    0     0     0

In [173]:
sp500.to_csv('sp500.csv')
spx.to_csv('options.csv')