In [1]:
# loading data

import csv
mydict = {}
reader = csv.reader(open("turnstile_150404.txt", "r"))
reader.next()

['C/A',
 'UNIT',
 'SCP',
 'STATION',
 'LINENAME',
 'DIVISION',
 'DATE',
 'TIME',
 'DESC',
 'ENTRIES',
 'EXITS                                                               ']

In [6]:
# CHALLENGE 1

mydict = {}

for num, row in enumerate(reader):
    key = tuple(row[0:4])
    value = [row[4:]]
    mydict.setdefault(key, [])
    mydict[key].append(value)
    
print mydict[('A002','R051','02-00-00','LEXINGTON AVE')]
# print mydict

KeyError: ('A002', 'R051', '02-00-00', 'LEXINGTON AVE')

In [5]:
# CHALLENGE 2

import dateutil.parser

import csv
mydict = {}
reader = csv.reader(open("turnstile_150404.txt", "r"))
reader.next()

mydict2 = {}

for num, row in enumerate(reader):
    key = tuple(row[0:4])
    dateptime = row[6] + " " + row[7]
    datet = dateutil.parser.parse(dateptime)
    value = [datet, int(row[9])]
    mydict2.setdefault(key, [])
    mydict2[key].append(value)
    
for k,v in mydict2.iteritems():
    for i in range(len(v)):
        if i < len(v):
            mydict2[k] [len(v)-i-1] [1] = abs(mydict2[k] [len(v)-i-1] [1] - mydict2[k] [len(v)-i-2] [1])
        else:
            mydict2[k] [len(v)-i-1] [1] = 0

    
print mydict2[('A002','R051','02-00-00','LEXINGTON AVE')]
# print mydict2

[[datetime.datetime(2015, 3, 28, 0, 0), 5065382], [datetime.datetime(2015, 3, 28, 4, 0), 38], [datetime.datetime(2015, 3, 28, 8, 0), 12], [datetime.datetime(2015, 3, 28, 12, 0), 135], [datetime.datetime(2015, 3, 28, 16, 0), 300], [datetime.datetime(2015, 3, 28, 20, 0), 430], [datetime.datetime(2015, 3, 29, 0, 0), 190], [datetime.datetime(2015, 3, 29, 4, 0), 38], [datetime.datetime(2015, 3, 29, 8, 0), 13], [datetime.datetime(2015, 3, 29, 12, 0), 85], [datetime.datetime(2015, 3, 29, 16, 0), 215], [datetime.datetime(2015, 3, 29, 20, 0), 330], [datetime.datetime(2015, 3, 30, 0, 0), 159], [datetime.datetime(2015, 3, 30, 4, 0), 8], [datetime.datetime(2015, 3, 30, 8, 0), 53], [datetime.datetime(2015, 3, 30, 12, 0), 178], [datetime.datetime(2015, 3, 30, 16, 0), 339], [datetime.datetime(2015, 3, 30, 20, 0), 982], [datetime.datetime(2015, 3, 31, 0, 0), 250], [datetime.datetime(2015, 3, 31, 4, 0), 13], [datetime.datetime(2015, 3, 31, 8, 0), 46], [datetime.datetime(2015, 3, 31, 12, 0), 184], [datetime.datetime(2015, 3, 31, 16, 0), 332], [datetime.datetime(2015, 3, 31, 20, 0), 880], [datetime.datetime(2015, 4, 1, 0, 0), 228], [datetime.datetime(2015, 4, 1, 4, 0), 21], [datetime.datetime(2015, 4, 1, 8, 0), 42], [datetime.datetime(2015, 4, 1, 12, 0), 205], [datetime.datetime(2015, 4, 1, 16, 0), 345], [datetime.datetime(2015, 4, 1, 20, 0), 951], [datetime.datetime(2015, 4, 2, 0, 0), 261], [datetime.datetime(2015, 4, 2, 4, 0), 25], [datetime.datetime(2015, 4, 2, 8, 0), 42], [datetime.datetime(2015, 4, 2, 12, 0), 172], [datetime.datetime(2015, 4, 2, 16, 0), 378], [datetime.datetime(2015, 4, 2, 20, 0), 980], [datetime.datetime(2015, 4, 3, 0, 0), 322], [datetime.datetime(2015, 4, 3, 4, 0), 34], [datetime.datetime(2015, 4, 3, 8, 0), 39], [datetime.datetime(2015, 4, 3, 12, 0), 175], [datetime.datetime(2015, 4, 3, 16, 0), 434], [datetime.datetime(2015, 4, 3, 20, 0), 586]]

In [30]:
print row[6]
print row[7]
dateptime = row[6] + " " + row[7]
print dateptime
datet = dateutil.parser.parse(dateptime)
value = [datet, row[9]]
print value
type(value)

04/03/2015
21:00:00
04/03/2015 21:00:00
[datetime.datetime(2015, 4, 3, 21, 0), '0000005554']

list

In [ ]:
for num, row in enumerate(reader):
    key = tuple(row[0:4])
    
    
mydict2 ={}
    
for k, v in mydict.iteritems():
    basecount = int(v[0],[5])
    total = 0
    dateptime = v[2] + " " + v[3]
    datet = dateutil.parser.parse(dateptime)
    value = [datet, int(row[9])]
    mydict2[k].append(value)
    for el in v:
        count = int(el[5]) - basecount
        total += count
        value = [datet, count]
    
print mydict[('A002','R051','02-00-00','LEXINGTON AVE')]
# print mydict

In [19]:
print mydict2[('A002','R051','02-00-00','LEXINGTON AVE')] [0][1]
print mydict2[('A002','R051','02-00-00','LEXINGTON AVE')] [1][1]
len(mydict2[('A002','R051','02-00-00','LEXINGTON AVE')])
mydict2[('A002','R051','02-00-00','LEXINGTON AVE')] [1][1] = mydict2[('A002','R051','02-00-00','LEXINGTON AVE')] [1][1] - mydict2[('A002','R051','02-00-00','LEXINGTON AVE')] [0][1]
print mydict2[('A002','R051','02-00-00','LEXINGTON AVE')] [1][1]
print len(mydict2[1])

5065968
-5065930
-10131898

KeyError: 1

In [9]:
v = mydict2[('A002','R051','02-00-00','LEXINGTON AVE')]
print v
print len(v)
for i in range(len(v)):
    if i < len(v):
        print i
        print v [len(v)-i-1] [0], v [len(v)-i-2] [0]
    else:
        print i
        print 'first =', v [len(v)-i-1] [0]

[[datetime.datetime(2015, 3, 28, 0, 0), 5065382], [datetime.datetime(2015, 3, 28, 4, 0), 38], [datetime.datetime(2015, 3, 28, 8, 0), 12], [datetime.datetime(2015, 3, 28, 12, 0), 135], [datetime.datetime(2015, 3, 28, 16, 0), 300], [datetime.datetime(2015, 3, 28, 20, 0), 430], [datetime.datetime(2015, 3, 29, 0, 0), 190], [datetime.datetime(2015, 3, 29, 4, 0), 38], [datetime.datetime(2015, 3, 29, 8, 0), 13], [datetime.datetime(2015, 3, 29, 12, 0), 85], [datetime.datetime(2015, 3, 29, 16, 0), 215], [datetime.datetime(2015, 3, 29, 20, 0), 330], [datetime.datetime(2015, 3, 30, 0, 0), 159], [datetime.datetime(2015, 3, 30, 4, 0), 8], [datetime.datetime(2015, 3, 30, 8, 0), 53], [datetime.datetime(2015, 3, 30, 12, 0), 178], [datetime.datetime(2015, 3, 30, 16, 0), 339], [datetime.datetime(2015, 3, 30, 20, 0), 982], [datetime.datetime(2015, 3, 31, 0, 0), 250], [datetime.datetime(2015, 3, 31, 4, 0), 13], [datetime.datetime(2015, 3, 31, 8, 0), 46], [datetime.datetime(2015, 3, 31, 12, 0), 184], [datetime.datetime(2015, 3, 31, 16, 0), 332], [datetime.datetime(2015, 3, 31, 20, 0), 880], [datetime.datetime(2015, 4, 1, 0, 0), 228], [datetime.datetime(2015, 4, 1, 4, 0), 21], [datetime.datetime(2015, 4, 1, 8, 0), 42], [datetime.datetime(2015, 4, 1, 12, 0), 205], [datetime.datetime(2015, 4, 1, 16, 0), 345], [datetime.datetime(2015, 4, 1, 20, 0), 951], [datetime.datetime(2015, 4, 2, 0, 0), 261], [datetime.datetime(2015, 4, 2, 4, 0), 25], [datetime.datetime(2015, 4, 2, 8, 0), 42], [datetime.datetime(2015, 4, 2, 12, 0), 172], [datetime.datetime(2015, 4, 2, 16, 0), 378], [datetime.datetime(2015, 4, 2, 20, 0), 980], [datetime.datetime(2015, 4, 3, 0, 0), 322], [datetime.datetime(2015, 4, 3, 4, 0), 34], [datetime.datetime(2015, 4, 3, 8, 0), 39], [datetime.datetime(2015, 4, 3, 12, 0), 175], [datetime.datetime(2015, 4, 3, 16, 0), 434], [datetime.datetime(2015, 4, 3, 20, 0), 586]]
42
0
2015-04-03 20:00:00 2015-04-03 16:00:00
1
2015-04-03 16:00:00 2015-04-03 12:00:00
2
2015-04-03 12:00:00 2015-04-03 08:00:00
3
2015-04-03 08:00:00 2015-04-03 04:00:00
4
2015-04-03 04:00:00 2015-04-03 00:00:00
5
2015-04-03 00:00:00 2015-04-02 20:00:00
6
2015-04-02 20:00:00 2015-04-02 16:00:00
7
2015-04-02 16:00:00 2015-04-02 12:00:00
8
2015-04-02 12:00:00 2015-04-02 08:00:00
9
2015-04-02 08:00:00 2015-04-02 04:00:00
10
2015-04-02 04:00:00 2015-04-02 00:00:00
11
2015-04-02 00:00:00 2015-04-01 20:00:00
12
2015-04-01 20:00:00 2015-04-01 16:00:00
13
2015-04-01 16:00:00 2015-04-01 12:00:00
14
2015-04-01 12:00:00 2015-04-01 08:00:00
15
2015-04-01 08:00:00 2015-04-01 04:00:00
16
2015-04-01 04:00:00 2015-04-01 00:00:00
17
2015-04-01 00:00:00 2015-03-31 20:00:00
18
2015-03-31 20:00:00 2015-03-31 16:00:00
19
2015-03-31 16:00:00 2015-03-31 12:00:00
20
2015-03-31 12:00:00 2015-03-31 08:00:00
21
2015-03-31 08:00:00 2015-03-31 04:00:00
22
2015-03-31 04:00:00 2015-03-31 00:00:00
23
2015-03-31 00:00:00 2015-03-30 20:00:00
24
2015-03-30 20:00:00 2015-03-30 16:00:00
25
2015-03-30 16:00:00 2015-03-30 12:00:00
26
2015-03-30 12:00:00 2015-03-30 08:00:00
27
2015-03-30 08:00:00 2015-03-30 04:00:00
28
2015-03-30 04:00:00 2015-03-30 00:00:00
29
2015-03-30 00:00:00 2015-03-29 20:00:00
30
2015-03-29 20:00:00 2015-03-29 16:00:00
31
2015-03-29 16:00:00 2015-03-29 12:00:00
32
2015-03-29 12:00:00 2015-03-29 08:00:00
33
2015-03-29 08:00:00 2015-03-29 04:00:00
34
2015-03-29 04:00:00 2015-03-29 00:00:00
35
2015-03-29 00:00:00 2015-03-28 20:00:00
36
2015-03-28 20:00:00 2015-03-28 16:00:00
37
2015-03-28 16:00:00 2015-03-28 12:00:00
38
2015-03-28 12:00:00 2015-03-28 08:00:00
39
2015-03-28 08:00:00 2015-03-28 04:00:00
40
2015-03-28 04:00:00 2015-03-28 00:00:00
41
2015-03-28 00:00:00 2015-04-03 20:00:00

In [3]:
print (2015, 3, 29) < (2015, 3, 28)

False